/*Fuentes de texto*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/*Variables*/
:root{
    /*Backgrounds*/
    --bg: #ccd1d1;
    --bg-header-footer: #2471a3; 
    --bg-landige-page: #5d6d7e; 
    --bg-target-grid: #d68a105e; 
    --bg-show-target: crimson;
    --bg-button-enviar:#c0392b;
    --bg-button-reset:#2c3e50;
    --bg-alert-true: #58d68d;
    --bg-alert-false: crimson;
    --bg-button-card:#f39c12;
    --bg-button-card-hover:#2e4053;
    --bg-header-link-hover: #fff;
    --bg-landige-img: url(/images/img1.avif);
    --bg-grid-images: url(/images/img2.avif);
    --bg-formulario: #fff;

    /*Textos*/
    --title: 'Poppins', sans-serif;
    --paragraph: 'Roboto', sans-serif;
    --color-1: #1c2833;
    --color-2: #fff;
    --color-3: #d68910;
    --color-4:#229954;
    --color-5: slateblue;

    /*Size´s Web Page*/
    --width: min(90%, 1200px);
    --margin: 0 auto;
    --padding: 10px;
    --padding-modifier: 15px 10px;
}

/*Body*/
body{
    display: block;
    width: 100%;
    height: 100%;
    font-family: var(--title);
    position: relative;
    background: var(--bg);
    color: var(--color-1);
}

/*Header*/

/*Navegation Menu (Sidebar Menu)*/

/*Landige Page*/

/*Section 1*/

/*Section 2*/

/*Section target grid*/

/*Section 3*/

/*Section 4*/

/*Section 5*/

/*Section 6*/

/*Section 7*/

/*Footer*/

/*Btn home*/

/*Responsive Mobil Desgin 400px - 320px*/
@media screen and (max-width: 400px){
    /*Header*/
    .header{
        display: block;
        width: 100%;
        background: var(--bg-header-footer);
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1;
    }

    .header__container{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: var(--padding);
    }

    .header__logo-img{
        display: block;
        width: 95px;
        object-fit: cover;
    }

    .header__navegation{
        display: none;
    }

    /*Navegation Menu (Sidebar Menu)*/
    .menu-btn{
        background: none;
        border: none;
        cursor: pointer;
    }

    .menu-icon{
        font-size: 25px;
        color: var(--bg-header-link-hover);
    }

    .sidebar__menu{
        display: none;
    }

    /*main*/
    .main{
        width: 100%;
        height: 100%;
        width: var(--width);
        margin: 40% auto 0;
    }

    /*Landige Page*/
    .landige__page{
        width: 100%;
        height: 100%;
        margin-bottom: 40px;
    }

    .landige__page-container{
        width: 100%;
        height: 100%;
        position: relative;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
    }

    .landige__page-container::before{
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        background-image: var(--bg-landige-img);
        background-size: cover;
        background-position: center;
        grid-column: 1/-1;
        grid-row: 3/-1;
        transition: all .3s ease;
        clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
        animation: anime 1s 1.5s cubic-bezier(.18,.72,.65,.29) forwards;
    }

    .landige__page-text{
        grid-column: 1/-1;
        grid-row: 1/3;
        padding: 5px;
        clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
        animation: landige-text 1s 2s cubic-bezier(.18,.72,.71,.54) forwards;
    }

    .landige__page-title{
        font-size: 2rem;
        font-weight: 500;
        margin-bottom: 10px;
    }

    .landige__page-subtitle{
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
    }

    /*Animations Landige Page*/
    @keyframes anime {
        to{
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        }
    }

    @keyframes landige-text {
        to{
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        }
    }

    .section{
        width: 100%;
        height: 100%;
        margin-bottom: 40px;
    }

    /*Section 1 Banner*/
    .section__banner{
        width: 100%;
        height: 100%;
    }

    .section__banner-content{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .section__banner-text{
        width: 100%;
    }

    .title{
        font-size: 1.5rem;
        font-weight: 500;
        margin-bottom: 20px;
    }

    .paragraph{
        font-size: 1rem;
        font-family: var(--paragraph);
        font-weight: 400;
        line-height: 1.5;
        text-align: justify
    }

    .link{
        font-size: 1rem;
        font-family: var(--paragraph);
        font-weight: 400;
        color: var(--color-3);
    }

    .icon{
        font-size: 22px;
    }

    .section__banner-image{
        display: block;
        width: 100%;
    }

    .section__banner-img{
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    /*Section 2 Hogar*/
    .section__hogar{
        display: block;
        position: relative;
    }
    .section__hogar-grid{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 290px;
        gap: 40px;
    }

    .section__hogar-grid-figure{
        display: block;
        width: 100%;
        height: 100%;
        cursor: pointer;
    }

    .section__hogar-grid-img{
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    /*Section target grid*/
    .show{
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,.2);
        position: absolute;
        top: 0;
        left: 0;
        transition: all .3s ease;
        clip-path: circle(0% at 50% 50%);
    }

    .show:target{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        transition: all .3s ease;
    }

    .show__container{
        width: 95%;
        height: 20%;
        margin: 50% auto 0;
        background-image: var(--bg-grid-images);
        background-position: center;
        background-size: cover;
        position: relative;
    }

    .show__close{
        display: block;
        font-size: 19px;
        font-weight: 400;
        color: var(--color-2);
        text-decoration: none;
        width: 35px;
        height: 35px;
        text-align: center;
        border-radius: 50%;
        line-height: 1.3;
        padding: 5px;
        background: var(--bg-show-target);
        position: absolute;
        top: -15px;
        right: -10px;
    }

    .show--n2{
        --bg-grid-images: url(/images/img3.avif);
    }

    .show--n3{
        --bg-grid-images: url(/images/img4.avif);
    }

    .show--n4{
        --bg-grid-images: url(/images/img5.avif);
    }

    .show--n5{
        --bg-grid-images: url(/images/img6.avif);
    }

    .show--n6{
        --bg-grid-images: url(/images/img7.avif);
    }

    .show--n7{
        --bg-grid-images: url(/images/img8.avif);
    }

    .show--n8{
        --bg-grid-images: url(/images/img9.avif);
    }

    /*Section 3 Remodelacion exterior*/
    .section__exterior-content{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .section__exterior-image{
        width: 100%;
    }

    .section__exterior-img{
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    /*Section 4 Remodelacion interior*/
    .section__interior-content{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .section__interior-image{
        width: 100%;
    }

    .section__interior-img{
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    /*Section 5 Formulario*/
    .section__formulario{
        background: var(--bg-formulario);
    }

    .formulario__content{
        width: 100%;
        height: 100%;
        padding: var(--padding);
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .formulario____info{
        width: 100%;
    }

    .formulario-p{
        text-align: left;
    }

    .formulario__container{
        width: 100%;
        margin-bottom: 20px;
        position: relative;
    }

    .icon-formulario{
        color: var(--color-3);
    }

    .input{
        width: 90%;
        background: none;
        border: none;
        border-bottom: solid 2px var(--color-3);
        outline: none;
        transition: all .3s ease;
    }

    .label{
        position: absolute;
        top: 5px;
        left: 30px;
        font-size: 1rem;
        font-weight: 400;
    }
    
    .input:focus{
        border-bottom: solid 2px var(--color-5);
    }

    .input:focus + .label, .input:not(:placeholder-shown) + .label{
        transform: translateY(-20px);
        font-size: 13px;
        color: var(--color-5);
    }

    .formulario__buttons{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .formulario-btn{
        width: 100%;
        padding: var(--padding);
        border-radius: 10px;
        border: none;
        background: var(--bg-button-enviar);
        color: var(--color-2);
        font-size: 1rem;
        font-weight: 400;
        box-shadow: 0 0 10px rgba(0,0,0,.5);
        cursor: pointer;
    }

    .formulario-btn:nth-child(2){
        background: var(--bg-button-reset);
    }

    .formulario-btn1-icon{
        font-size: 20px;
        margin-left: 10px;
    }

    /*Section 6*/

    /*Section 7*/

    /*Footer*/

    /*Btn home*/
}